h1,
p {
  font-family: Lato;
}

.item_selector {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item_selector button {
  width: 5rem;
  height: 5rem;
  font-size: 0.8rem;
  padding: 1rem 0;
  text-align: center;
  margin: 0.5rem;
  display: inline-block;
  cursor: pointer;
  border: rgb(127, 127, 127) solid 1px;
  border-radius: 5px;
  color: rgb(127, 127, 127);
  white-space: normal;
}
