h1,
p {
  font-family: Lato;
}

.summary {
  display: flex;
}

.item_selector {
  background: green;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 55%;
}
.item_selector button {
  width: 4rem;
  height: 4rem;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0.5rem;
  display: inline-block;
  cursor: pointer;
  border: rgb(127, 127, 127) solid 1px;
  border-radius: 5px;
  color: rgb(127, 127, 127);
  white-space: normal;
}

.total {
  position: sticky;
  flex-basis: 45%;
  background: gray;
  top: 0;
  align-self: flex-start;
}
